<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur dolor eos est exercitationem iste iure soluta? Amet assumenda explicabo laboriosam magni maiores, minima nulla omnis quae quaerat ratione. Accusantium aspernatur consectetur distinctio eligendi iste quae, quibusdam? Ab alias amet asperiores aspernatur, autem corporis dicta doloribus ducimus esse excepturi facere facilis fugiat id incidunt labore modi molestiae natus officia pariatur perferendis provident quas quia quibusdam quos ratione repellendus repudiandae sunt tempora ut, vitae. A architecto commodi, distinctio dolores doloribus enim et fugit iure, possimus quas reiciendis, sunt? Aut delectus deleniti eaque fugit nihil quo repudiandae velit. Eligendi libero veritatis voluptatem!
</p>
